.companies.container 
	h2.h2 Лого компаний, с которыми работали.
	.companies__grid 
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/blinovskaya.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/mauna_kena.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/blinovskaya.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/mauna_kena.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/blinovskaya.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/mauna_kena.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/blinovskaya.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/mauna_kena.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/blinovskaya.png", alt="alt")
		a.companies__logo(
			href="javascript:;",
			target="_blank",
			rel="noopener noreferrer"
		)
			img(src="images/companies/mauna_kena.png", alt="alt")
